### NAME : NUDZOR ELVIS NUTIFAFA KOMLA
### ID : 10963283
### DEPARTMENT : BIOMEDICAL ENGINEERING
###

In [10]:
import pandas as pd

In [11]:
import ydata_profiling as ydp

In [12]:
dataset = pd.read_csv('./data.csv')

In [13]:
dataset

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
1,2,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5.0
2,3,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,NaN,0.65,9.8,5.0
3,4,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6.0
4,5,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,1597,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6.0
1597,1598,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6.0
1598,1599,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5.0
1599,1600,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6.0
1600,1601,7.2,0.390,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6.0

In [15]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1601 entries, 0 to 1600
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    1601 non-null   int64
 1   fixed acidity         1600 non-null   float64
 2   volatile acidity      1601 non-null   float64
 3   citric acid           1600 non-null   float64
 4   residual sugar        1601 non-null   float64
 5   chlorides             1598 non-null   float64
 6   free sulfur dioxide   1600 non-null   float64
 7   total sulfur dioxide  1600 non-null   float64
 8   density               1600 non-null   float64
 9   pH                    1600 non-null   float64
 10  sulphates             1601 non-null   float64
 11  alcohol               1601 non-null   float64
 12  quality               1600 non-null   float64
dtypes: float64(12), int64(1)
memory usage: 162.7 KB

In [16]:
dataset.isnull()

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,False,False,False,False,False,False,False,False,False,False,False,False,False
1597,False,False,False,False,False,False,False,False,False,False,False,False,False
1598,False,False,False,False,False,False,False,False,False,False,False,False,False
1599,False,False,False,False,False,False,False,False,False,False,False,False,False
1600,False,False,False,False,False,False,False,False,False,False,False,False,False

In [17]:
dataset.describe()

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1601.000000,1600.000000,1601.000000,1600.000000,1601.000000,1598.000000,1600.000000,1600.000000,1600.000000,1600.000000,1601.000000,1601.000000,1600.000000
mean,801.000000,8.319875,0.527742,0.271175,2.538445,0.087487,15.886875,46.520000,0.996746,3.311106,0.658220,10.423204,5.636250
std,462.313206,1.740039,0.178981,0.194745,1.409138,0.047076,10.458487,32.977723,0.001887,0.154338,0.169471,1.065495,0.807368
min,1.000000,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,401.000000,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,801.000000,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,1201.000000,9.200000,0.640000,0.420000,2.600000,0.090000,21.250000,62.000000,0.997833,3.400000,0.730000,11.100000,6.000000
max,1601.000000,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [20]:
dataset.columns = dataset.columns.str.replace(' ','_')

In [21]:
dataset

,ID,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
1,2,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5.0
2,3,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,NaN,0.65,9.8,5.0
3,4,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6.0
4,5,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,1597,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6.0
1597,1598,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6.0
1598,1599,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5.0
1599,1600,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6.0
1600,1601,7.2,0.390,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6.0

In [35]:
meanFA = dataset.fixed_acidity.mean()
meanVA = dataset.volatile_acidity.mean()
meanCA = dataset.citric_acid.mean()
meanRS = dataset.residual_sugar.mean()
meanC = dataset.chlorides.mean()
meanFSD = dataset.free_sulfur_dioxide.mean()
meanTSD = dataset.total_sulfur_dioxide.mean()
meanVA = dataset.fixed_acidity.mean()
meanD = dataset.density.mean()
meanPH = dataset.pH.mean()
meanS = dataset.sulphates.mean()
meanA = dataset.alcohol.mean()
meanQ = dataset.quality.mean()

In [31]:
dataset.mean()

ID                      801.000000
fixed_acidity             8.319875
volatile_acidity          0.527742
citric_acid               0.271175
residual_sugar            2.538445
chlorides                 0.087487
free_sulfur_dioxide      15.886875
total_sulfur_dioxide     46.520000
density                   0.996746
pH                        3.311106
sulphates                 0.658220
alcohol                  10.423204
quality                   5.636250
dtype: float64

In [37]:
print(f'The mean value of fixed_acidity is {meanFA}')
print(f'The mean value of volatile_acidity is {meanVA}')
print(f'The mean value of citric_acid is {meanCA}')
print(f'The mean value of residual_sugar is {meanRS}')
print(f'The mean value of chlorides is {meanC}')
print(f'The mean value of free_sulfur_dioxide is {meanFSD}')
print(f'The mean value of total_sulfur_dioxide is {meanTSD}')
print(f'The mean value of density is {meanD}')
print(f'The mean value of pH is {meanPH}')
print(f'The mean value of sulphate is {meanS}')
print(f'The mean value of alcohol is {meanA}')
print(f'The mean value of quality is {meanQ}')

The mean value of fixed_acidity is 8.319875000000001
The mean value of volatile_acidity is 8.319875000000001
The mean value of citric_acid is 0.271175
The mean value of residual_sugar is 2.5384447220487196
The mean value of chlorides is 0.0874874843554443
The mean value of free_sulfur_dioxide is 15.886875
The mean value of total_sulfur_dioxide is 46.52
The mean value of density is 0.9967456437500002
The mean value of pH is 3.3111062500000004
The mean value of sulphate is 0.6582198625858838
The mean value of alcohol is 10.42320424734541
The mean value of quality is 5.63625

In [51]:
dataset_mean_values = dataset.mean()

In [52]:
dataset_mean_values

ID                      801.000000
fixed_acidity             8.319875
volatile_acidity          0.527742
citric_acid               0.271175
residual_sugar            2.538445
chlorides                 0.087487
free_sulfur_dioxide      15.886875
total_sulfur_dioxide     46.520000
density                   0.996746
pH                        3.311106
sulphates                 0.658220
alcohol                  10.423204
quality                   5.636250
dtype: float64

In [53]:
dataset  = dataset.fillna(dataset_mean_values)

In [45]:
dataset

,ID,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.510000,0.56,9.4,5.0
1,2,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.200000,0.68,9.8,5.0
2,3,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.311106,0.65,9.8,5.0
3,4,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.160000,0.58,9.8,6.0
4,5,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.510000,0.56,9.4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,1597,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.520000,0.76,11.2,6.0
1597,1598,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.420000,0.75,11.0,6.0
1598,1599,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.570000,0.71,10.2,5.0
1599,1600,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.390000,0.66,11.0,6.0
1600,1601,7.2,0.390,0.44,2.6,0.066,22.0,48.0,0.99494,3.300000,0.84,11.5,6.0

In [47]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1601 entries, 0 to 1600
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    1601 non-null   int64
 1   fixed_acidity         1601 non-null   float64
 2   volatile_acidity      1601 non-null   float64
 3   citric_acid           1601 non-null   float64
 4   residual_sugar        1601 non-null   float64
 5   chlorides             1601 non-null   float64
 6   free_sulfur_dioxide   1601 non-null   float64
 7   total_sulfur_dioxide  1601 non-null   float64
 8   density               1601 non-null   float64
 9   pH                    1601 non-null   float64
 10  sulphates             1601 non-null   float64
 11  alcohol               1601 non-null   float64
 12  quality               1601 non-null   float64
dtypes: float64(12), int64(1)
memory usage: 162.7 KB